*{
    margin: 0;
    padding: 0;
    font-size: 50px;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center !important; */
    background-color:black;
}
.blur{
    filter: blur(6px);
}
.cont{
    
    margin-top: 40px;
    width: 300px;    
    height: 300px;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px 90px;

}
.cont div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
 

}
.box1,.box2,.box3{
    border-top: none !important;
}
.box1,.box4,.box7{
    border-left: none !important;
}
.box3,.box6,.box9{
    border-right: none !important;
}
.box7,.box8,.box9{
    border-bottom: none !important;
}
table{
    /* align-items: center; */
    /* background-color: aqua; */
    width: 180px;
    transform: translate(-20px,35px);
    /* border: 1.5px solid white; */
    border-collapse: collapse;
}
th{
    /* background-color: black; */
    /* border: 1.5px solid white; */
    border-top: none;
    text-align: center;
    /* align-items: end; */
    /* justify-content: center; */

    color: white;
}
td{
    color: white;
    text-align: center;
}
.hl{
    position: fixed;
    top: 428px;
    left:528px;
}
.vl{
    position:fixed;
    width: 2px;
    height: 200px;
    top: 370px;
    left: 625px;
}
.m_screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(173, 173, 173, 0.55);
    display: flex;
    /* display: none; */
    /* align-items: center; */
    justify-content: center;
}
 p{
    /* display: block; */
    top: 90px;
    position: fixed;
    font-size: 100px;
    color: white;
 }
 .cp{
    font-weight: 700;
    border: none;
    border-radius: 50px;
    color: rgba(95, 95, 95,1);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    top: 264px;
    position: fixed;
    font-size: 32px;
    width: 229px;
    height: 79px;
}

.dpn{
    display: none ;
}
.unblur{
    filter: blur(0px);
}